#mesa-apresentacao{
    bottom: 0;
    position: absolute;
    right: 0;
}


#dani-wrapper{
    position: absolute;
    bottom: 10%;
    right: 15%;
    display: flex;
    align-items: flex-end;
    height: 382px;
}
