#mesa-apresentacao {
    position: absolute;
    bottom: 71px;
    right: 0;
    width: 374px;

    @media (min-width: 768px) {
        bottom: 86px;
        width: 500px;
    }

    @media (min-width: 1024px) {
        bottom: 0;
        width: 693px;
    }

    @media (min-width: 1440px) {
        width: 870px;
    }

    @media (min-width: 1536px) {
        width: 1067px;
    }
}


#dani-wrapper {
    position: absolute;
    bottom: 96px;
    right: -52px;
    display: flex;
    height: 155px;
    width: 232px;
    user-select: none;
    pointer-events: none;

    @media (min-width: 768px) {
        height: 382px;
        width: 503px;
        bottom: 28px;
        bottom: 41px;
        right: -74px;
    }

    @media (min-width: 1024px) {
        bottom: -8px;
        right: -34px;
    }

    @media (min-width: 1440px) {
        bottom: 29px;
        right: 7px;
    }

    @media (min-width: 1536px) {
        bottom: 94px;
        right: 114px;
    }
}

.video-avatar-dani {
    // position: absolute;
    bottom: 53px;
    transform: scale(-2, 2);
    user-select: none;
    pointer-events: none;
    filter: drop-shadow(-5px 1px 5px rgba(0, 0, 0, 0.7));

    @media(min-width: 768px) {
        transform: scale(-1.2, 1.2);
    }

    @media(min-width: 1024px) {
        bottom: 3px;
        transform: scale(-1.5, 1.5);
    }

    @media(min-width: 1440px) {
        bottom: 44px;
        transform: scale(-1.8, 1.8);
    }

    @media (min-width: 1536px) {
        bottom: 87px;
        transform: scale(-2.3, 2.3);
        right: 50px;
    }
}

//Remover a Dani no Safari
.safari #dani-wrapper {
    display: none !important;
  }